In [52]:
import recordlinkage
import pandas as pd

In [53]:
compare_cl = recordlinkage.Compare()

In [54]:
clipper = pd.read_csv("~/Box/Data/fake_clipper.csv", encoding = 'utf-8')
fastrak = pd.read_csv("~/Box/Data/fake_fastrak.csv", encoding = 'utf-8')

In [55]:
fastrak

,tracking,fname,lname,fastrak_id,phone,address1,address2,city,state
0,Beyonce Knowles,Beyonce,Knowles,fj28hf83,2024678907,101 Howard St,NaN,NaN,California
1,Kanye W,Kanye,W,ofjh983whf983,413-764-9463,55 Polk St,#22,NaN,California
2,Bill Joel,Bill,Joel,fo28h3d8w3,7034779079,493 Haight St,APT 493,San Francisco,California
3,Abigail Cash,Abigail,Cash,dhowijed093,7034779022,1390 Market,NaN,San Francisco,California
4,Abigail Jones,Abigail,Jones,lojsdfo45,918-264-1412,3051 San Bruno Av,NaN,SF,California
5,Chicago West,Chicago,West,ofjh983whf983,413-764-9463,56 Polk St,#23,San Francisco,California

In [56]:
#fastrak= fastrak.dropna(subset=['address2', 'city'], how='all')

#fastrak

In [57]:
#fastrak = fastrak[~(fastrak.fastrak_id.str.len() > 10)]
#fastrak

In [58]:
import unicodecsv as csv
from faker import Factory
from collections import defaultdict

# Load the faker and its providers
fake  = Factory.create()
    
# Create empty dictionaries
fnamesdict  = defaultdict(fake.first_name)
lnamesdict  = defaultdict(fake.last_name)
phonedict  = defaultdict(fake.phone_number)
addressdict  = defaultdict(fake.address)

def anonymize_rows(rows):
    """
    Rows is an iterable of dictionaries that contain name and
    email fields that need to be anonymized.
    """

    # Iterate over the rows and yield anonymized rows.
    for row in rows:
        # Replace the name and email fields with faked fields.
        row['fname']  = fnamesdict[row['fname']]
        row['lname']  = lnamesdict[row['lname']]
        row['phone']  = phonedict[row['phone']]
        row['address1']  = addressdict[row['address1']]

        # Yield the row back to the caller
        yield row


def anonymize(source, target):
    """
    The source argument is a path to a CSV file containing data to anonymize,
    while target is a path to write the anonymized CSV data to.
    """
    
    with open(source, 'rU') as f:
        with open(target, 'w') as o:
            # Use the DictReader to easily extract fields
            reader = csv.DictReader(f)
            writer = csv.DictWriter(o, reader.fieldnames)
            # Read and anonymize data, writing to target file.
            for row in anonymize_rows(reader):
                writer.writerow(row)

In [59]:
def anonymize2(source, target):
    """
    The source argument is a path to a CSV file containing data to anonymize,
    while target is a path to write the anonymized CSV data to.
    """
    reader = source.to_dict('records')
    for row in anonymize_rows(reader):
        print row
        print "/n"

In [62]:
pd.DataFrame(ftdict.items())

AttributeError: 'list' object has no attribute 'items'

In [63]:
ftdict = fastrak.to_dict('records')

In [65]:
ftdict

[{u'address1': u'101 Howard St',
  u'address2': nan,
  u'city': nan,
  u'fastrak_id': u'fj28hf83',
  u'fname': u'Beyonce',
  u'lname': u'Knowles',
  u'phone': u'2024678907',
  u'state': u'California',
  u'tracking': u'Beyonce Knowles'},
 {u'address1': u'55 Polk St',
  u'address2': u'#22',
  u'city': nan,
  u'fastrak_id': u'ofjh983whf983',
  u'fname': u'Kanye',
  u'lname': u'W',
  u'phone': u'413-764-9463',
  u'state': u'California',
  u'tracking': u'Kanye W'},
 {u'address1': u'493 Haight St',
  u'address2': u'APT 493',
  u'city': u'San Francisco',
  u'fastrak_id': u'fo28h3d8w3',
  u'fname': u'Bill',
  u'lname': u'Joel',
  u'phone': u'7034779079',
  u'state': u'California',
  u'tracking': u'Bill Joel'},
 {u'address1': u'1390 Market',
  u'address2': nan,
  u'city': u'San Francisco',
  u'fastrak_id': u'dhowijed093',
  u'fname': u'Abigail',
  u'lname': u'Cash',
  u'phone': u'7034779022',
  u'state': u'California',
  u'tracking': u'Abigail Cash'},
 {u'address1': u'3051 San Bruno Av',
  u'address2': nan,
  u'city': u'SF',
  u'fastrak_id': u'lojsdfo45',
  u'fname': u'Abigail',
  u'lname': u'Jones',
  u'phone': u'918-264-1412',
  u'state': u'California',
  u'tracking': u'Abigail Jones'},
 {u'address1': u'56 Polk St',
  u'address2': u'#23',
  u'city': u'San Francisco',
  u'fastrak_id': u'ofjh983whf983',
  u'fname': u'Chicago',
  u'lname': u'West',
  u'phone': u'413-764-9463',
  u'state': u'California',
  u'tracking': u'Chicago West'}]

In [61]:
#anonymize("/Users/smcnish/Box/Data/fake_fastrak.csv", "/Users/smcnish/Box/Data/very_fake.csv")

anonymize2(fastrak, "/Users/smcnish/Box/Data/very_fake_ft.csv")

{u'city': nan, u'tracking': u'Beyonce Knowles', u'address1': u'318 Samantha Trail\nThompsonfurt, TN 51904-1234', u'address2': nan, u'lname': u'Hughes', u'phone': u'328.116.0696x25863', u'state': u'California', u'fname': u'John', u'fastrak_id': u'fj28hf83'}
/n
{u'city': nan, u'tracking': u'Kanye W', u'address1': u'717 Samantha Expressway Apt. 154\nLake Theodorefort, UT 79543', u'address2': u'#22', u'lname': u'Cook', u'phone': u'+87(5)2359738607', u'state': u'California', u'fname': u'Jeffrey', u'fastrak_id': u'ofjh983whf983'}
/n
{u'city': u'San Francisco', u'tracking': u'Bill Joel', u'address1': u'USNV Jones\nFPO AE 04107', u'address2': u'APT 493', u'lname': u'Thompson', u'phone': u'(796)267-4389x1180', u'state': u'California', u'fname': u'Vanessa', u'fastrak_id': u'fo28h3d8w3'}
/n
{u'city': u'San Francisco', u'tracking': u'Abigail Cash', u'address1': u'3979 Roberta Ranch\nMorseview, HI 80737', u'address2': nan, u'lname': u'Garcia', u'phone': u'797.177.0318', u'state': u'California', u'fname': u'Michael', u'fastrak_id': u'dhowijed093'}
/n
{u'city': u'SF', u'tracking': u'Abigail Jones', u'address1': u'0987 Christina Rest\nJacobbury, TX 26150', u'address2': nan, u'lname': u'Sanders', u'phone': u'1-340-611-3477', u'state': u'California', u'fname': u'Michael', u'fastrak_id': u'lojsdfo45'}
/n
{u'city': u'San Francisco', u'tracking': u'Chicago West', u'address1': u'9718 Sierra Harbors Suite 023\nDeniseshire, WY 27862', u'address2': u'#23', u'lname': u'Morales', u'phone': u'+87(5)2359738607', u'state': u'California', u'fname': u'Sara', u'fastrak_id': u'ofjh983whf983'}
/n

In [51]:
#anonymize("/Users/smcnish/Box/Data/fake_clipper.csv", "/Users/smcnish/Box/Data/clipper_very_fake.csv")

In [11]:
clipperfake = pd.read_csv("~/Box/Data/clipper_very_fake.csv", encoding = 'utf-8')
fastrakfake = pd.read_csv("~/Box/Data/very_fake.csv", encoding = 'utf-8')

In [12]:
fastrakfake

,Beyonce Knowles,Timothy,Patterson,fj28hf83,224-746-5578,"53777 Santiago Ville Williamsmouth, UT 49847-2053",Unnamed: 6,Unnamed: 7,California
0,Kanye W,Tanya,Erickson,ofjh983whf983,561.632.3835x45648,09600 Carr Mountains Suite 050\nFitzgeraldfurt...,#22,NaN,California
1,Bill Joel,Clifford,King,fo28h3d8w3,(950)974-1201x33071,"3083 Gregory Gateway\nPort Davidstad, VA 11799...",APT 493,San Francisco,California
2,Abigail Cash,Richard,Schultz,dhowijed093,1-902-029-4826x339,Unit 0906 Box 7194\nDPO AA 28479,NaN,San Francisco,California
3,Abigail Jones,Richard,Wiley,lojsdfo45,217-462-0136x02994,"783 Navarro Gardens Apt. 243\nPort Thomasside,...",NaN,SF,California
4,Chicago West,Mckenzie,James,ofjh983whf983,561.632.3835x45648,"4448 White Groves\nLake Janeshire, NV 40090-7976",#23,San Francisco,California

In [13]:
clipperfake

,Beyonce Knowles,Timothy,Patterson,1928475,224-746-5578,"53777 Santiago Ville Williamsmouth, UT 49847-2053",Unnamed: 6,San Francisco,California
0,Billy Joel,Desiree,King,923847,846.698.2778,"3083 Gregory Gateway\nPort Davidstad, VA 11799...",#493,San Francisco,CA
1,Jon Cash,Brittany,Schultz,812640127,02923774097,"0201 Jasmin Skyway\nSouth Jennifer, WV 24421",NaN,San Francisco,California
2,Abby Jones,Daniel,Wiley,9274917,217-462-0136x02994,"783 Navarro Gardens Apt. 243\nPort Thomasside,...",NaN,San Francisco,NaN
3,Kanye West,Tanya,James,45626774,140.385.8238x188,"551 Bond Garden\nNorth Denise, NH 12222-0665",NaN,San Francisco,California

In [14]:
print fnamesdict['Beyonce']

Timothy

In [15]:
from faker import Faker
fake = Faker()


print("".join(fake.name().split(" ")))

MichelleNavarro

In [16]:
?fake

In [17]:
!pwd

/Users/smcnish/MTC

In [18]:
import csv 
file_name = "/Users/smcnish/Box/Data/names.csv"
with open(file_name, 'rU') as f:  #opens PW file
    reader = csv.reader(f)
    names = list(list(rec) for rec in csv.reader(f, delimiter=',')) #reads csv into a list of lists

In [20]:
namesdict = {d[0]: d[1:] for d in names}

In [23]:
indexer = recordlinkage.BlockIndex(on='fname','lname','phone')
pairs = indexer.index(clipper, fastrak)

print len(pairs)

SyntaxError: non-keyword arg after keyword arg (<ipython-input-23-f9d159e5dc14>, line 1)

In [ ]:
compare_cl.string('fname', 'fname', threshold=0.5, label='fname')
compare_cl.exact('lname', 'lname', label='lname')
compare_cl.exact('phone', 'phone', label='phone')
compare_cl.exact('address1', 'address1', label='address1')
compare_cl.exact('address2', 'address2', label='address2')
compare_cl.exact('city', 'city', label='city')
compare_cl.exact('state', 'state', label='state')
features = compare_cl.compute(pairs, clipper, fastrak)

In [ ]:
import fuzzyset
fz = fuzzyset.FuzzySet()
#Create a list of terms we would like to match against in a fuzzy way
for l in ["Bill", "Diana", "Jo"]:
    fz.add(l)
 
#Now see if our sample term fuzzy matches any of those specified terms
fz.get('Billy'), fz.get('Diane'), fz.get('Joanna')

In [ ]:
import re

In [ ]:
def phone_format(phone_number):
    clean_phone_number = re.sub('[^0-9]+', '', phone_number)
    formatted_phone_number = re.sub("(\d)(?=(\d{3})+(?!\d))", r"\1-", "%d" % int(clean_phone_number[:-1])) + clean_phone_number[-1]
    return formatted_phone_number

In [ ]:
print phone_format("7031239079")
print phone_format("(703) 1239079")
print phone_format("(703) 123 - 9079")
print phone_format("+1 7031239079")
print phone_format("(703 123 9079")
print phone_format("(703123 9079")