## Preprocess Account Data

In [10]:
import csv
import pandas as pd
import numpy as np
import re

In [11]:
clipper = pd.read_csv("~/Box/Data/fake_clipper.csv", encoding = 'utf-8')
fastrak = pd.read_csv("~/Box/Data/fake_fastrak.csv", encoding = 'utf-8')

In [12]:
file_name = "/Users/danaiavg/Box/Data/names.csv"
with open(file_name, 'rU') as f:  #opens PW file
    reader = csv.reader(f)
    names = list(list(rec) for rec in csv.reader(f, delimiter=',')) #reads csv into a list of lists

In [13]:
#lower case everything (may need to fix dtypes later bc this turns everything to string)
clipper = clipper.apply(lambda x: x.astype(str).str.lower())
fastrak = fastrak.apply(lambda x: x.astype(str).str.lower())

In [14]:
clipper

,tracking,fname,lname,clipper_id,phone,address1,address2,city,state
0,beyonce knowles,beyonce,knowles,1928475,2024678907,101 howard st,nan,san francisco,california
1,billy joel,billy,joel,923847,+1 703 477 9079,493 haight st,#493,san francisco,ca
2,jon cash,jon,cash,812640127,2136630484,1390 market street,nan,san francisco,california
3,abby jones,abby,jones,9274917,918-264-1412,3051 san bruno av,nan,san francisco,nan
4,kanye west,kanye,west,45626774,(413) 764 - 9463,55 polk,nan,san francisco,california

In [15]:
fastrak

,tracking,fname,lname,fastrak_id,phone,address1,address2,city,state
0,beyonce knowles,beyonce,knowles,fj28hf83,2024678907,101 howard st,nan,san francisco,california
1,kanye w,kanye,w,ofjh983whf983,413-764-9463,55 polk st,#22,nan,california
2,bill joel,bill,joel,fo28h3d8w3,7034779079,493 haight st,apt 493,san francisco,california
3,abigail cash,abigail,cash,dhowijed093,7034779022,1390 market,nan,san francisco,california
4,abigail jones,abigail,jones,lojsdfo45,918-264-1412,3051 san bruno av,nan,sf,california
5,chicago west,chicago,west,ofjh983whf983,413-764-9463,56 polk st,#23,san francisco,california

# Phone Number

In [17]:
def phone_format(phone_number):
    clean_phone_number = re.sub('[^0-9]+', '', phone_number)
    formatted_phone_number = re.sub("(\d)(?=(\d{3})+(?!\d))", r"\1-", "%d" % int(clean_phone_number[:-1])) + clean_phone_number[-1]
    return formatted_phone_number

In [18]:
clipper["phone"] = clipper["phone"].apply(phone_format)

In [19]:
clipper

,tracking,fname,lname,clipper_id,phone,address1,address2,city,state
0,beyonce knowles,beyonce,knowles,1928475,202-467-8907,101 howard st,nan,san francisco,california
1,billy joel,billy,joel,923847,1-703-477-9079,493 haight st,#493,san francisco,ca
2,jon cash,jon,cash,812640127,213-663-0484,1390 market street,nan,san francisco,california
3,abby jones,abby,jones,9274917,918-264-1412,3051 san bruno av,nan,san francisco,nan
4,kanye west,kanye,west,45626774,413-764-9463,55 polk,nan,san francisco,california

In [20]:
fastrak["phone"] = fastrak["phone"].apply(phone_format)

In [21]:
fastrak

,tracking,fname,lname,fastrak_id,phone,address1,address2,city,state
0,beyonce knowles,beyonce,knowles,fj28hf83,202-467-8907,101 howard st,nan,san francisco,california
1,kanye w,kanye,w,ofjh983whf983,413-764-9463,55 polk st,#22,nan,california
2,bill joel,bill,joel,fo28h3d8w3,703-477-9079,493 haight st,apt 493,san francisco,california
3,abigail cash,abigail,cash,dhowijed093,703-477-9022,1390 market,nan,san francisco,california
4,abigail jones,abigail,jones,lojsdfo45,918-264-1412,3051 san bruno av,nan,sf,california
5,chicago west,chicago,west,ofjh983whf983,413-764-9463,56 polk st,#23,san francisco,california

# City

# State

# First Name

In [4]:
namesdict = {d[0]: " ".join(d[1:]) for d in names}

In [5]:
for key in sorted(namesdict):
    print "%s: %s" % (key, namesdict[key])

aaron: erin ronnie ron
abbie: abby abigail
abe: abraham abram
abednego: bedney
abel: ebbie ab abe eb
abiel: ab
abigail: nabby abby gail
abijah: ab bige
abner: ab
abraham: ab abe
abram: ab
absalom: app ab abbie
ada: addy
adaline: delia lena dell addy ada
adam: edie ade
addy: adele
adela: della
adelaide: heidi adele dell addy della
adelbert: del albert delbert bert
adele: dell
adeline: delia lena dell addy ada
adelphia: philly delphia adele dell addy
adolphus: dolph ado adolph
adrian: rian
adrienne: adrian
agatha: aggy
agnes: inez aggy nessa
aileen: lena allie
al: albert bert alex
alan: al
alanson: al lanson
alastair: al
alazama: ali
albert: bert al
alberta: bert allie bertie
aldo: al
aldrich: riche rich
aleva: levy leve
alex: alexandra alexander
alexander: alex al sandy
alexandra: alex sandy alla sandra
alexandria: drina alexander alla sandra
alexis: lexi
alfonse: al
alfred: freddy al fred
alfreda: freddy alfy freda frieda
algernon: algy
alice: lisa elsie allie
alicia: lisa elsie allie
aline: adeline
alison: ali
allan: al
allen: al
allisandra: allie
almena: mena allie
almina: minnie
almira: myra
alonzo: lon al lonzo
alphinias: alphus
alverta: virdie vert
alyssa: lissia al ally
alzada: zada
amanda: mandy manda
ambrose: brose
amelia: amy mel millie emily
amos: moses
anastasia: ana stacy
anderson: andy
andrea: drea rea andrew
andrew: andy drew
andy: andrew drew
angela: angelica angelina angel angeline jane angie
angelina: lina
ann: nana nan nancy annie nanny
anna: anne ann annie
anne: annie nana ann nan nanny nancy
annette: anna nettie
annie: ann anna
anselm: ansel selma anse ance
anthony: tony
antoinette: tony netta ann
antonia: tony netta ann
appoline: appy appie
aquilla: quil quillie
ara: belle arry
arabella: ara bella arry belle
arabelle: ara bella arry belle
araminta: armida middie ruminta minty
archibald: archie
archilles: kill killis
ariadne: arie
arielle: arie
aristotle: telly
arizona: onie ona
arlene: arly lena
armanda: mandy
armena: mena arry
armilda: milly
arminda: mindie
arminta: minite minnie
arnold: arnie
art: arthur
artelepsa: epsey
artemus: art
arthur: art
arthusa: thursa
arzada: zaddi
asahel: asa
asaph: asa
asenath: sene assene natty
aubrey: bree
audrey: dee
august: gus
augusta: tina aggy gatsy gussie
augustina: tina aggy gatsy gussie
augustine: gus austin august
augustus: gus austin august
aurelia: ree rilly orilla aurilla ora
avarilla: rilla
azariah: riah aze
bab: barby
babs: barby barbara bab
barbara: barby babs bab bobbie
barbery: barbara
barbie: barbara
barnabas: barney
barney: barnabas
bart: bartholomew
bartholomew: bartel bat meus bart mees
barticus: bart
bazaleel: basil
bea: beatrice
beatrice: bea trisha trixie trix
becca: beck
beck: becky
bedelia: delia bridgit
belinda: belle linda
bella: belle arabella isabella
ben: benjamin bennie
benedict: bennie ben
benjamin: benjy jamie bennie ben
benjy: benjamin
bernard: barney bernie berney
berney: bernie
bert: bertie bob bobby
bertha: bert birdie bertie
bertram: bert
bess: bessie
beth: betsy betty elizabeth
bethena: beth thaney
beverly: bev
bezaleel: zeely
biddie: biddy
bill: william billy robert willie fred
billy: william robert fred
blanche: bea
bob: rob robert
bobby: rob bob
boetius: bo
brad: bradford ford
bradford: ford brad
brady: brody
brenda: brandy
brian: bryan bryant
bridget: bridie biddy bridgie biddie
brittany: britt
broderick: ricky brody brady rick
cal: calvin
caldonia: calliedona
caleb: cal
california: callie
calista: kissy
calpurnia: cally
calvin: vin vinny cal
cameron: ron cam ronny
camille: millie cammie
campbell: cam
candace: candy dacey
carlotta: lottie
carlton: carl
carmellia: mellia
carmon: charm cammie carm
carol: lynn carrie carolann cassie caroline carole
carolann: carol carole
caroline: lynn carol carrie cassie carole
carolyn: lynn carrie cassie
carrie: cassie
carthaette: etta etty
casey: k.c.
casper: jasper
cassandra: sandy cassie sandra
cassie: cassandra
caswell: cass
catherine: kathy katy lena kittie kit trina cathy kay cassie
cathleen: kathy katy lena kittie kit trina cathy kay cassie
cathy: kathy cathleen catherine
cecilia: cissy celia
cedric: ced rick ricky
celeste: lessie celia
celinda: linda lynn lindy
charity: chat
charles: charlie chuck carl chick
charlie: charles chuck
charlotte: char sherry lottie lotta
chauncey: chan
cher: sher
cheryl: sheryl
chesley: chet
chester: chet
chet: chester
chick: charlotte caroline chuck
chloe: clo
chris: christina christopher christine
christa: chris
christian: chris kit
christiana: kris kristy ann tina christy chris crissy
christina: kris kristy tina christy chris crissy
christine: kris kristy chrissy tina chris crissy
christopher: chris kit
christy: crissy
cicely: cilla
cinderella: arilla rella cindy rilla
cindy: cinderlla
claire: clair clare clara
clara: clarissa
clare: clara
clarence: clare clair
clarinda: clara
clarissa: cissy clara
claudia: claud
cleatus: cleat
clement: clem
clementine: clement clem
cliff: clifford cliff
clifford: ford cliff
clifton: tony cliff
cole: colie
columbus: clum
con: conny
conrad: conny con
constance: connie
cordelia: cordy delia
corey: coco cordy ree
corinne: cora ora
cornelia: nelly cornie nelia corny nelle
cornelius: conny niel corny con
cory: coco cordy ree
courtney: curt court
crystal: chris tal stal crys
curt: curtis
curtis: curt
cy: cyrus
cynthia: cintha cindy
cyrenius: swene cy serene renius cene
cyrus: cy
daisy: margaret
dal: dahl
dalton: dahl
dan: danny daniel
daniel: dan danny
danielle: ellie dani
danny: daniel
daphne: daph daphie
darlene: lena darry
dave: david
davey: david
david: dave day davey
deanne: ann dee
deb: deborah debra
debbie: deb debra deborah debby
debby: deb
debora: deb debbie debby
deborah: deb debbie debby
debra: deb debbie
deidre: deedee
delbert: bert del
delia: fidelia cordelia delius
delilah: lil lila dell della
deliverance: delly dilly della
dell: della
della: adela delilah adelaide
delores: lolly lola della dee dell
delpha: philadelphia
delphine: delphi del delf
demaris: dea maris mary
demerias: dea maris mary
democrates: mock
denise: dennis
dennis: denny
dennison: denny
derrick: ricky eric rick
deuteronomy: duty
diana: dicey didi di
diane: dicey didi di
dicey: dicie
dick: rick richard
dickson: dick
domenic: dom
dominic: dom
don: donald
donald: dony donnie don donny
donnie: donald donny
donny: donald
dorcus: darkey
dorinda: dorothea dora
doris: dora
dorothea: doda dora
dorothy: dortha dolly dot dotty
dot: dotty
dotha: dotty
douglas: doug
drew: andrew
drusilla: silla
duncan: dunk
earnest: ernestine ernie
eb: ebbie
ebenezer: ebbie eben eb
ed: eddie eddy
eddie: eddy
edgar: ed eddie eddy
edith: edie edye
edmond: ed eddie eddy
edmund: ed eddie ted eddy ned
edna: edny
eduardo: ed eddie eddy
edward: teddy ed ned ted eddy eddie
edwin: ed eddie win eddy ned
edwina: edwin
edyth: edie edye
edythe: edie edye
egbert: bert burt
eighta: athy
eileen: helen
elaine: lainie helen
elbert: albert
elbertson: elbert bert
eleanor: lanna nora nelly ellie elaine ellen lenora
eleazer: lazar
elena: helen
elias: eli lee lias
elijah: lige eli
eliphalel: life
eliphalet: left
elisa: lisa
elisha: lish eli
eliza: elizabeth
elizabeth: libby lisa lib lizzie eliza betsy liza betty bessie bess beth liz
ella: ellen
ellen: nellie nell helen
ellender: nellie ellen helen
ellie: elly
ellswood: elsey
elminie: minnie
elmira: ellie elly mira
elnora: nora
eloise: heloise louise
elouise: louise
elsie: elsey
elswood: elsey
elvira: elvie
elwood: woody
elysia: lisa
elze: elsey
emanuel: manuel manny
emeline: em emmy emma milly emily
emil: emily
emily: emmy millie emma mel
emma: emmy
epaphroditius: dite ditus eppa dyche dyce
ephraim: eph
erasmus: raze rasmus
eric: rick ricky
ernest: ernie
ernestine: teeny ernest tina erna
erwin: irwin
eseneth: senie
essy: es
estella: essy stella
estelle: essy stella
esther: hester essie
eudicy: dicey
eudora: dora
eudoris: dossie dosie
eugene: gene
eunice: nicie
euphemia: effie effy
eurydice: dicey
eustacia: stacia stacy
eva: eve
evaline: eva lena eve
evangeline: ev evan vangie
evelyn: evelina ev eve
experience: exie
ezekiel: zeke ez
ezideen: ez
ezra: ez
faith: fay
felicia: fel felix feli
felicity: flick tick
feltie: felty
ferdinand: freddie freddy ferdie fred
ferdinando: nando ferdie fred
fidelia: delia
flo: florence
flora: florence
florence: flossy flora flo
floyd: lloyd
fran: frannie
frances: sis cissy frankie franniey fran francie frannie fanny
francie: francine
francine: franniey fran frannie francie
francis: fran frankie frank
frank: franklin
frankie: frank francis
franklin: fran frank
franklind: frank
fred: freddy frederick
freda: frieda
frederica: frederick
frederick: freddie freddy fritz fred
fredericka: freddy ricka freda frieda
frieda: freddie freddy fred
gabby: gabriella gabe gabrielle
gabe: gabriel
gabriel: gabe gabby
gabriella: ella gabby
gabrielle: ella gabby
genevieve: jean eve jenny
geoff: geoffrey jeffrey jeff
geoffrey: geoff jeff
george: jorge georgiana
georgia: george georgiana
gerald: gerry jerry
geraldine: gerry gerrie jerry dina
gerhardt: gay
gerrie: geraldine
gerry: gerald geraldine jerry
gert: gertie
gertie: gertrude
gertrude: gertie gert trudy
gil: gilbert
gilbert: bert gil wilber
gloria: glory
governor: govie
greenberry: green berry
gregory: greg
gretchen: margaret
griselda: grissel
gum: monty
gus: gussie
gustavus: gus
gwen: gwendolyn wendy
gwendolyn: gwen wendy
hamilton: ham
hannah: nan nanny anna
harold: hal harry
harriet: hattie
harry: harold henry
haseltine: hassie
heather: hetty
helen: lena ella ellen ellie
helena: eileen lena nell nellie eleanor elaine ellen aileen
helene: lena ella ellen ellie
heloise: lois eloise elouise
henrietta: hank etta etty retta nettie
henry: hank hal harry
hephsibah: hipsie
hepsibah: hipsie
herb: herbert
herbert: bert herb
herman: harman dutch
hermione: hermie
hester: hessy esther hetty
hezekiah: hy hez kiah
hiram: hy
honora: honey nora norry norah
hopkins: hopp hop
horace: horry
hortense: harty tensey
hosea: hosey hosie
howard: hal howie
hubert: bert hugh hub
ian: john
ignatius: natius iggy nate nace
ignatzio: naz iggy nace
immanuel: manuel emmanuel
india: indie indy
inez: agnes
iona: onnie
irene: rena
irvin: irving
irving: irv
irwin: erwin
isaac: ike zeke
isabel: tibbie bell nib belle bella nibby ib issy
isabella: tibbie nib belle bella nibby ib issy
isabelle: tibbie nib belle bella nibby ib issy
isadora: issy dora
isaiah: zadie zay
isidore: izzy
iva: ivy
ivan: john
jackson: jack
jacob: jaap jake jay
jacobus: jacob
jacqueline: jackie jack
jahoda: hody hodie hoda
james: jimmy jim jamie jimmie jem
jamie: james ben
jane: janie jessie jean jennie
janet: jan jessie
janice: jan
jannett: nettie
jasper: jap casper
jayme: jay
jean: jane jeannie
jeanette: jessie jean janet nettie
jeanne: jane jeannie
jeb: jebadiah
jedediah: dyer jed diah
jedidiah: jed
jeff: geoffrey jeffrey
jefferey: jeff
jefferson: sonny jeff
jeffrey: geoff jeff
jehiel: hiel
jehu: hugh gee
jemima: mima
jennet: jessie jenny
jennifer: jennie
jenny: jennifer
jeremiah: jereme jerry
jerita: rita
jerry: jereme geraldine
jessica: jessie
jessie: jane jess janet
jim: jimmie
jincy: jane
jinsy: jane
joan: jo nonie
joann: jo
joanna: hannah jody jo joan
joanne: jo
jody: jo
joe: joseph joey
joey: joseph
johanna: jo
johannah: hannah jody joan nonie
johannes: jonathan john johnny
john: jack johnny jock
jon: john nathan
jonathan: john nathan
joseph: jody jos joe joey
josephine: fina jody jo josey joey
josetta: jettie
josey: josophine
josh: joshua
joshua: jos josh
josiah: jos
joyce: joy
juanita: nita nettie
judah: juder jude
judith: judie juda judy judi jude
judson: sonny jud
judy: judith
julia: julie jill
julian: jule
julias: jule
julie: julia jule
june: junius
junior: junie june jr
justin: justus justina
karonhappuck: karon karen carrie happy
kasey: k.c.
katarina: catherine tina
kate: kay
katelin: kay kate kaye
katelyn: kay kate kaye
katherine: kathy katy lena kittie kaye kit trina cathy kay kate cassie
kathleen: kathy katy lena kittie kit trina cathy kay cassie
kathryn: kathy
katy: kathy
kayla: kay
ken: kenneth
kendall: ken kenny
kendra: kenj kenji kay kenny
kendrick: ken kenny
kenneth: ken kenny kendrick
kenny: ken kenneth
kent: ken kenny kendrick
keziah: kizza kizzie
kim: kimberly kimberley
kimberley: kim
kimberly: kim
kingsley: king
kingston: king
kit: kittie
kris: chris
kristel: kris
kristen: chris
kristin: chris
kristine: kris kristy tina christy chris crissy
kristopher: chris kris
kristy: chris
lafayette: laffie fate
lamont: monty
laodicia: dicy cenia
larry: laurence lawrence
lauren: ren laurie
laurence: lorry larry lon lonny lorne
laurinda: laura lawrence
lauryn: laurie
laveda: veda
laverne: vernon verna
lavina: vina viney ina
lavinia: vina viney ina
lavonia: vina vonnie wyncha viney
lavonne: von
lawrence: lorry larry lon lonny lorne
leanne: lea annie
lecurgus: curg
lemuel: lem
lena: ellen
lenora: nora lee
leo: leon
leonard: lineau leo leon len lenny
leonidas: lee leon
leonora: nora nell nellie
leonore: nora honor elenor
leroy: roy lee l.r.
les: lester
leslie: les
lester: les
letitia: tish titia lettice lettie
levi: lee
levicy: vicy
levone: von
lib: libby
lidia: lyddy
lil: lilly lily
lillah: lil lilly lily lolly
lillian: lil lilly lolly
lilly: lily
lincoln: link
linda: lindy lynn
lindy: lynn
lionel: leon
lisa: lizzie alice liz melissa
littleberry: little berry l.b.
liz: elizabeth
lizzie: elizabeth liz
lois: lou louise
lon: lonzo
lorenzo: loren
loretta: etta lorrie retta
lorraine: lorrie
lotta: lottie
lou: louis lu
louis: lewis louise louie lou
louisa: eliza lou lois
louise: eliza lou lois
louvinia: vina vonnie wyncha viney
lucas: luke
lucia: lucy lucius
lucias: luke
lucille: cille lu lucy lou
lucina: sinah
lucinda: lu lucy cindy lou
lucretia: creasey
lucy: lucinda
luella: lula ella lu
luke: lucas
lunetta: nettie
lurana: lura
luther: luke
lydia: lyddy
lyndon: lindy lynn
mabel: mehitabel amabel
mac: mc
mack: mac mc
mackenzie: kenzy mac mack
maddy: madelyn madeline madge
madeline: maggie lena magda maddy madge
madie: madeline madelyn
madison: mattie maddy
magdalena: maggie lena
magdelina: lena magda madge
mahala: hallie
malachi: mally
malcolm: mac mal malc
malinda: lindy
manda: mandy
mandy: amanda
manerva: minerva nervie eve nerva
manny: manuel
manoah: noah
manola: nonnie
manuel: emanuel manny
marcus: mark
margaret: maggie meg peg midge margy margie madge peggy maggy marge daisy margery gretta rita
margaretta: maggie meg peg midge margie madge peggy marge daisy margery gretta rita
margarita: maggie meg metta midge greta megan maisie madge marge daisy peggie rita margo
marge: margery margaret margaretta
margie: marjorie margie
marguerite: peggy
margy: marjorie
mariah: mary maria
marian: marianna marion
marie: mae
marietta: mariah mercy polly may molly mitzi minnie mollie mae maureen marion marie mamie mary maria
marilyn: mary
marion: mary
marissa: rissa
marjorie: margy margie
marsha: marcie mary
martha: marty mattie mat patsy patty
martin: marty
martina: tina
martine: tine
marv: marvin
marvin: marv
mary: mamie molly mae polly mitzi
mat: mattie
mathilda: tillie patty
matilda: tilly maud matty
matt: mathew matthew
matthew: thys matt thias mattie matty
matthias: thys matt thias
maud: middy
maureen: mary
maurice: morey
mavery: mave
mavine: mave
maxine: max
may: mae
mckenna: ken kenna meaka
medora: dora
megan: meg
mehitabel: hetty mitty mabel hitty
melanie: mellie
melchizedek: zadock dick
melinda: linda mel lynn mindy lindy
melissa: lisa mel missy milly lissa
mellony: mellia
melody: lodi
melvin: mel
melvina: vina
mercedes: merci sadie mercy
merv: mervin
mervyn: merv
micajah: cage
michael: micky mike micah mick
michelle: mickey
mick: micky
mike: micky mick michael
mildred: milly
millicent: missy milly
minerva: minnie
minnie: wilhelmina
miranda: randy mandy mira
miriam: mimi mitzi mitzie
missy: melissa
mitch: mitchell
mitchell: mitch
mitzi: mary mittie mitty
mitzie: mittie mitty
monet: nettie
monica: monna monnie
monteleon: monte
montesque: monty
montgomery: monty gum
monty: lamont
morris: morey
mortimer: mort
moses: amos mose moss
muriel: mur
myrtle: myrt myrti mert
nadine: nada deedee
nancy: ann nan nanny
naomi: omi
napoleon: nap nappy leon
natalie: natty nettie
natasha: tasha nat
nathan: nate nat
nathaniel: than nathan nate nat natty
nelle: nelly
nelson: nels
newt: newton
nicholas: nick claes claas
nick: nik nicholas
nickie: nicholas
nicodemus: nick
nicole: nole nikki cole
nik: nick
nora: nonie
norbert: bert norby
nowell: noel
obadiah: dyer obed obie diah
obedience: obed beda beedy biddie
obie: obediah
octavia: tave tavia
odell: odo
olive: nollie livia ollie
oliver: ollie
olivia: nollie livia ollie
ollie: oliver
onicyphorous: cyphorus osaforus syphorous one cy osaforum
orilla: rilly ora
orlando: roland
orphelia: phelia
ossy: ozzy
oswald: ozzy waldo ossy
otis: ode ote
ozzy: oswald
pamela: pam
pandora: dora
parmelia: amelia milly melia
parthenia: teeny parsuny pasoonie phenie
pat: patrick pat patricia
patience: pat patty
patricia: tricia pat patsy patty
patrick: pate peter pat patsy paddy
patsy: patty
patty: patricia
paul: polly paula pauline
paula: polly lina
paulina: polly lina
pauline: polly
peg: peggy
pelegrine: perry
penelope: penny
percival: percy
peregrine: perry
permelia: melly milly mellie
pernetta: nettie
persephone: seph sephy
pete: peter
peter: pete pate
petronella: nellie
pheney: josephine
pheriba: pherbia ferbie
phil: phillip philip
philadelphia: delphia
philander: fie
philetus: leet phil
philinda: linda lynn lindy
philip: phil
philipina: phoebe penie
phillip: phil
philly: delphia
philomena: menaalmena
phoebe: fifi
pinckney: pink
pleasant: ples
pocahontas: pokey
posthuma: humey
prescott: scotty scott pres
priscilla: prissy cissy cilla
providence: provy
prudence: prue prudy
prudy: prudence
rachel: shelly
rafaela: rafa
ramona: mona
randolph: dolph randy
raphael: ralph
ray: raymond
raymond: ray
reba: beck becca
rebecca: beck becca reba becky
reg: reggie
reggie: reginald
regina: reggie gina
reginald: reggie naldo reg renny
relief: leafa
reuben: rube
reynold: reginald
rhoda: rodie
rhodella: della
rhyna: rhynie
ricardo: rick ricky
rich: dick rick riche richard
richard: dick dickon dickie dicky rick rich ricky
richie: richard
rick: ricky
ricky: dick rich
robert: hob hobkin dob rob bobby dobbin bob
roberta: robbie bert bobbie birdie bertie
roderick: rod erick rickie
rodger: roge bobby hodge rod robby rupert robin
roger: roge bobby hodge rod robby rupert robin
roland: rollo lanny orlando rolly
ron: ronald ronnie ronny
ronald: naldo ron ronny
ronnie: ronald
ronny: ronald
rosa: rose
rosabel: belle roz rosa rose
rosabella: belle roz rosa rose
rosalinda: linda roz rosa rose
rosalyn: linda roz rosa rose
roscoe: ross
rose: rosie
roseann: rose ann rosie roz
roseanna: rose ann rosie roz
roseanne: ann
rosina: sina
roxane: rox roxie
roxanna: roxie rose ann
roxanne: roxie rose ann
roz: rosalyn
rube: reuben
rudolph: dolph rudy olph rolf
rudolphus: dolph rudy olph rolf
rudy: rudolph
russ: russell
russell: russ rusty
rusty: russell
ryan: ry
sabrina: brina
salome: loomie
salvador: sal
sam: sammy samuel
samantha: sammy sam mantha
sammy: samuel
sampson: sam
samson: sam
samuel: sammy sam
samyra: myra
sandra: sandy cassandra
sandy: sandra
sanford: sandy
sarah: sally sadie
sarilla: silla
savannah: vannie anna
scott: scotty sceeter squat scottie
sebastian: sebby seb
selma: anselm
serena: rena
serilla: rilla
seymour: see morey
shaina: sha shay
sharon: sha shay
sheila: cecilia
sheldon: shelly
shelton: tony shel shelly
sheridan: dan danny sher
sheryl: sher
shirley: sherry lee shirl
sibbilla: sybill sibbie sibbell
sidney: syd sid
sigfired: sid
sigfrid: sid
sigismund: sig
silas: si
silence: liley
silvester: vester si sly vest syl
simeon: si sion
simon: si sion
sly: sylvester
smith: smitty
socrates: crate
solomon: sal salmon sol solly saul zolly
sondra: dre sonnie
sophia: sophie
sophronia: frona sophia fronia
stephan: steve
stephanie: stephen stephie annie steph
stephen: steve steph
steve: stephen steven
steven: steve steph
stuart: stu
sue: susie susan

In [9]:
#level 1 matches
best = clipper.merge(fastrak, how = 'inner', on = ['fname','lname','phone','city','state'], validate = "one_to_one")

TypeError: merge() got an unexpected keyword argument 'validate'

In [71]:
best

,tracking_x,fname,lname,clipper_id,phone,address1_x,address2_x,city,state,nicknames_x,tracking_y,fastrak_id,address1_y,address2_y,nicknames_y
0,beyonce knowles,beyonce,knowles,1928475,2024678907,101 howard st,nan,san francisco,california,nan,beyonce knowles,fj28hf83,101 howard st,nan,nan

In [72]:
(clipper['fname'].isin(fastrak['fname']) & 
 clipper['lname'].isin(fastrak['lname']) & 
 clipper['phone'].isin(fastrak['phone'])&
 clipper['city'].isin(fastrak['city']) &
 clipper['state'].isin(fastrak['state'])).value_counts()

False    4
True     1
dtype: int64

In [73]:
# nickname level matches
clipper['nicknames'] = clipper['fname'].map(namesdict)
fastrak['nicknames'] = fastrak['fname'].map(namesdict)

In [74]:
clipper

,tracking,fname,lname,clipper_id,phone,address1,address2,city,state,nicknames
0,beyonce knowles,beyonce,knowles,1928475,2024678907,101 howard st,nan,san francisco,california,NaN
1,billy joel,billy,joel,923847,+1 703 477 9079,493 haight st,#493,san francisco,ca,william robert fred
2,jon cash,jon,cash,812640127,2136630484,1390 market street,nan,san francisco,california,john nathan
3,abby jones,abby,jones,9274917,918-264-1412,3051 san bruno av,nan,san francisco,nan,NaN
4,kanye west,kanye,west,45626774,(413) 764 - 9463,55 polk,nan,san francisco,california,NaN

In [77]:
fastrak

,tracking,fname,lname,fastrak_id,phone,address1,address2,city,state,nicknames
0,beyonce knowles,beyonce,knowles,fj28hf83,2024678907,101 howard st,nan,san francisco,california,NaN
1,kanye w,kanye,w,ofjh983whf983,413-764-9463,55 polk st,#22,nan,california,NaN
2,bill joel,bill,joel,fo28h3d8w3,7034779079,493 haight st,apt 493,san francisco,california,william billy robert willie fred
3,abigail cash,abigail,cash,dhowijed093,7034779022,1390 market,nan,san francisco,california,nabby abby gail
4,abigail jones,abigail,jones,lojsdfo45,918-264-1412,3051 san bruno av,nan,sf,california,nabby abby gail
5,chicago west,chicago,west,ofjh983whf983,413-764-9463,56 polk st,#23,san francisco,california,NaN

In [80]:
fastrak['nicknames'].str.contains(clipper['fname'])

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [81]:
fastrak['nicknames'].str.contains(clipper['fname'].str)

TypeError: first argument must be string or compiled pattern

In [61]:
clipper['fname'].isin(fastrak['nicknames'].list)

AttributeError: 'Series' object has no attribute 'list'

In [58]:
clipper

,tracking,fname,lname,clipper_id,phone,address1,address2,city,state,nicknames
0,beyonce knowles,beyonce,knowles,1928475,2024678907,101 howard st,nan,san francisco,california,NaN
1,billy joel,billy,joel,923847,+1 703 477 9079,493 haight st,#493,san francisco,ca,"[william, robert, fred]"
2,jon cash,jon,cash,812640127,2136630484,1390 market street,nan,san francisco,california,"[john, nathan]"
3,abby jones,abby,jones,9274917,918-264-1412,3051 san bruno av,nan,san francisco,nan,NaN
4,kanye west,kanye,west,45626774,(413) 764 - 9463,55 polk,nan,san francisco,california,NaN

In [59]:
clipper['fname'].isin(["beyonce"])

0     True
1    False
2    False
3    False
4    False
Name: fname, dtype: bool

In [23]:
indexer = recordlinkage.BlockIndex(on='fname','lname','phone')
pairs = indexer.index(clipper, fastrak)

print len(pairs)

SyntaxError: non-keyword arg after keyword arg (<ipython-input-23-f9d159e5dc14>, line 1)

In [24]:
compare_cl.string('fname', 'fname', threshold=0.5, label='fname')
compare_cl.exact('lname', 'lname', label='lname')
compare_cl.exact('phone', 'phone', label='phone')
compare_cl.exact('address1', 'address1', label='address1')
compare_cl.exact('address2', 'address2', label='address2')
compare_cl.exact('city', 'city', label='city')
compare_cl.exact('state', 'state', label='state')
features = compare_cl.compute(pairs, clipper, fastrak)

NameError: name 'pairs' is not defined

In [25]:
import fuzzyset
fz = fuzzyset.FuzzySet()
#Create a list of terms we would like to match against in a fuzzy way
for l in ["Bill", "Diana", "Jo"]:
    fz.add(l)
 
#Now see if our sample term fuzzy matches any of those specified terms
fz.get('Billy'), fz.get('Diane'), fz.get('Joanna')

([(0.8, 'Bill')], [(0.8, 'Diana')], [(0.5, 'Diana')])

In [27]:
def phone_format(phone_number):
    clean_phone_number = re.sub('[^0-9]+', '', phone_number)
    formatted_phone_number = re.sub("(\d)(?=(\d{3})+(?!\d))", r"\1-", "%d" % int(clean_phone_number[:-1])) + clean_phone_number[-1]
    return formatted_phone_number

In [28]:
print phone_format("7031239079")
print phone_format("(703) 1239079")
print phone_format("(703) 123 - 9079")
print phone_format("+1 7031239079")
print phone_format("(703 123 9079")
print phone_format("(703123 9079")

703-123-9079
703-123-9079
703-123-9079
1-703-123-9079
703-123-9079
703-123-9079